extends _layout

block vars
  - var title = 'C. Zommerfelds'
  - var description = 'Welcome to my page'

mixin navmenu
  ul.navigation
    li
      a(href='#top')
        i.fa.fa-globe
        | Welcome
    li
      a(href='#blog')
        i.fa.fa-file-text
        | Blog
    li.subnav
      a(href='#')
        i.fa.fa-angle-right
        | Random post title
    li.subnav
      a(href='#')
        i.fa.fa-angle-right
        | Another post (I am excited!)
    li.subnav.subnav-last
      a(href='#')
        i.fa.fa-angle-double-right
        | more posts...
    li
      a(href='#about')
        i.fa.fa-user
        | About Me
    li
      a(href='#projects')
        i.fa.fa-bar-chart
        | Projects
    li
      a(href='#contact')
        i.fa.fa-comments
        | Contact Me
        
mixin profile
  .top-section
    .profile-image
      img(src='img/profile.jpg', alt='Volton')
    .profile-content
      h3.profile-title Christian Zommerfelds
      p.profile-description AI / programming / etc
      
mixin content-block
  .row
    .col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
      block
    
mixin section(id, title)
  .page-section(id=id)
    +content-block
      h4.widget-title #{title}
    block
    +content-block
      hr

      
block content
  // Mobile header
  .responsive-header.visible-xs.visible-sm
    .container
      .row
        .col-md-12
          +profile
      a.toggle-menu(href='#')
        i.fa.fa-bars
        span  Navigation
      .main-navigation.responsive-menu
        +navmenu
  
  // Desktop sidebar
  .sidebar-menu.hidden-xs.hidden-sm
    +profile
    .main-navigation
      +navmenu
    .social-icons
      ul
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-linkedin
        li
          a(href='#')
            i.fa.fa-rss
  
  // Main content
  .main-content
    .container-fluid
      +section('top', 'Hi! Welcome to my blog and personal website.')
        +content-block
          p
            | My name is Christian Zommerfelds and this website is a space for 
            | me to share things I'm interested in. If you have any kind of 
            | feedback, I would love to #[a(href='#contact') hear from you]!
      +section('blog', 'Blog')
        +content-block
          p TODO
      +section('about', 'Learn About Me')
        +content-block
          .about-image
            img(src='img/8.jpg', alt='about me')
          p
            | Volton is free website design from
            span.blue template
            span.green mo
            | . You can use this template for any purpose. Please tell your friends about it. Thank you. Credit goes to
            a(rel='nofollow', href='http://unsplash.com', target='_parent') Unsplash
            |  for images used in this design. You can
            strong change menu icons
            |  by checking
            a(rel='nofollow', href='http://fontawesome.info/font-awesome-icon-world-map/', target='_parent') Font Awesome
            |  (version 4). Example:
            strong <i class="fa fa-camera"></i>
      // PROJECTS
      +section('projects', 'Photos of what I do')
        +content-block
          p
            | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.
        .row.projects-holder
          .col-md-4.col-sm-6
            .project-item
              img(src='img/1.jpg', alt='')
              .project-hover
                .inside
                  h5
                    a(href='#') Pellentesque porta ligula
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
          .col-md-4.col-sm-6
            .project-item
              img(src='img/2.jpg', alt='')
              .project-hover
                .inside
                  h5
                    a(href='#') Pellentesque porta ligula
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
          .col-md-4.col-sm-6
            .project-item
              img(src='img/3.jpg', alt='')
              .project-hover
                .inside
                  h5
                    a(href='#') Pellentesque porta ligula
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.
      // CONTACT
      +section('contact', 'Send me a message')
        +content-block
          p
            | Don't hesitate to send me message via the form below. I'll try to respond as fast as I can.
        +content-block
          .row
            form.contact-form(action='#', method='post')
              fieldset.col-md-4.col-sm-6
                input#your-name(type='text', placeholder='Your Name...')
              fieldset.col-md-4.col-sm-6
                input#email(type='email', placeholder='Your Email...')
              fieldset.col-md-4.col-sm-12
                input#your-subject(type='text', placeholder='Subject...')
              fieldset.col-md-12.col-sm-12
                textarea#message(name='message', cols='30', rows='6', placeholder='Leave your message...')
              fieldset.col-md-12.col-sm-12
                input.button.big.default(type='submit', value='Send Message')
      #footer.row
        .col-md-12.text-center
          p.copyright-text Copyright © 2016 Christian Zommerfelds
