extends _page

block page-vars
  - var isMainPage = true

block page-content
  +section('top', 'Hi. Welcome to my blog and personal website!')
    +content-block
      p
        | My name is Christian Zommerfelds and I've created this website to share things with the world. If you have any kind of feedback, I would love to #[a(href='#contact', class='smooth') hear from you]!
  +section('blog', 'Blog')
    +content-block
      p TODO
  +section('about', 'Learn About Me')
    +content-block
      .about-image
        img(src='img/8.jpg', alt='about me')
      p
        | TODO
  // PROJECTS
  +section('projects', 'Photos of what I do')
    +content-block
      p
        | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.
    .row.projects-holder
      .col-md-4.col-sm-6
        .project-item
          img(src='img/1.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
      .col-md-4.col-sm-6
        .project-item
          img(src='img/2.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
      .col-md-4.col-sm-6
        .project-item
          img(src='img/3.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.
  // CONTACT
  +section('contact', 'Send me a message')
    +content-block
      p
        | Don't hesitate to send me a message via the form below. I'll try to respond as fast as I can.
    +content-block
      .row
        form#contact-form.contact-form
          fieldset.col-md-4.col-sm-6
            input(name='name', type='text', placeholder='Your Name...')
          fieldset.col-md-4.col-sm-6
            input(name='email', type='email', placeholder='Your Email...')
          fieldset.col-md-4.col-sm-12
            input(name='subject', type='text', placeholder='Subject...')
          fieldset.col-md-12.col-sm-12
            textarea(name='message', cols='30', rows='6', placeholder='Leave your message...')
          fieldset.col-md-12.col-sm-12
            input#submit-contact.button.big.default(type='submit', value='Send Message')
    +content-block
      #contact-success.alert.alert-success.alert-dismissable.fade.in.hidden
        a.close(href='#', data-dismiss='alert', aria-label='close') &times
        p Message sent.
      #contact-error.alert.alert-danger.alert-dismissable.fade.in.hidden
        a.close(href='#', data-dismiss='alert', aria-label='close') &times
        p Error sending message. Please try again later.
