extends _page

block page-vars
  - var isMainPage = true
  script(src='https://www.google.com/recaptcha/api.js')

block page-content
  .alert.alert-danger.alert-dismissable.fade.in
    a.close(href='#', data-dismiss='alert', aria-label='close') &times
    p Please note: this website is under construction.
    
  +section('top', 'Welcome to my blog and personal website!')
    +content-block
      p
        | I am Christian Zommerfelds and I am a computer scientist. This website is mainly a personal technical project, but also a collection of different posts and information I'd like to share with you. If you have any kind of feedback, please #[a(href='#contact', class='smooth') leave me a message]!
  +section('blog', 'Blog')
    +content-block
      p TODO
  +section('about', 'About Me')
    +content-block
      .about-image
        img(src='img/climbing.jpg', alt='about me')
      p
        | TODO
      a(href='files/christian-zommerfelds-resume.pdf', target='_blank') Download resume.
  // PROJECTS
  +section('projects', 'Projects')
    +content-block
      p
        | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.
    .row.projects-holder
      .col-md-4.col-sm-6
        .project-item
          img(src='img/1.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
      .col-md-4.col-sm-6
        .project-item
          img(src='img/2.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
      .col-md-4.col-sm-6
        .project-item
          img(src='img/3.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.
  // CONTACT
  +section('contact', 'Contact Me')
    +content-block
      p
        | Don't hesitate to send me a message via the form below. I'll try to get back to you as soon as I can.
    +content-block
      .row
        form#contact-form.contact-form
          fieldset.col-md-4.col-sm-6
            input(name='name', type='text', placeholder='Your name...')
          fieldset.col-md-4.col-sm-6
            input(name='email', type='email', placeholder='Your email...')
          fieldset.col-md-4.col-sm-12
            input(name='subject', type='text', placeholder='Subject...')
          fieldset.col-md-12.col-sm-12
            textarea(name='message', cols='30', rows='6', placeholder='Type your message here...')
          fieldset.col-md-12.col-sm-12
            .g-recaptcha(data-sitekey='6LdtwxkUAAAAAO9EsfmQ21NFDOcSa6rCRwlZeXLT')
          fieldset.col-md-12.col-sm-12
            input#submit-contact.button.big.default(type='submit', value='Send Message')
    +content-block
      #contact-success.alert.alert-success.alert-dismissable.fade.in.hidden
        a.close(href='#', data-dismiss='alert', aria-label='close') &times
        p Message sent.
      #contact-error.alert.alert-danger.alert-dismissable.fade.in.hidden
        a.close(href='#', data-dismiss='alert', aria-label='close') &times
        p Error sending message. Please try again later.
