extends layouts/_page

block page-vars
  - var isMainPage = true

block page-content
  - var recaptchaSiteKey = '6LdtwxkUAAAAAO9EsfmQ21NFDOcSa6rCRwlZeXLT'

  +content-block
    .alert.alert-danger.fade.in
      p Please note: this website is under construction.
    
  +section('top', 'Welcome to my blog and personal website')
    +content-block
      p I'm Christian Zommerfelds and I'm a computer scientist. Creating this website is mainly just a personal technical project, but also an attempt to write and share my thoughts with the world. If you have any comments, don't hesitate to #[a(href='#contact', class='smooth') leave a message]!
  +section('blog', 'Blog')
    +content-block
      ul
      each post in posts
        li #[a(href='/' + post.path) #{post.title}]
  +section('about', 'About Me')
    +content-block
      .about-image
        img(src='img/climbing.jpg', alt='about me')
      .about-image-caption Rock climbing the Chemiflue in Switzerland.
      p I currently live in the Waterloo region in Canada and work as a software developer. Feel free to download my resume #[a(href='files/christian-zommerfelds-resume.pdf', target='_blank') here].
      
      p I love ...
      ul
        li #[b data science]#[br] I like to read about the newest research in neural networks and AI technoligy. One of my favorite papers at the moment is the one about #[a(href='https://www.cs.toronto.edu/~vmnih/docs/dqn.pdf', target='_blank') deep Q-networks].
        li #[b game design]#[br] My first contact with programming was by making video games. I still love to design games and every once in a while, develop one.
        li #[b beer brewing]#[br] A highly complex chemical process that creates amazing variaeties and tastes. Hopefully I'll get to post something about our family brewery soon.
        li #[b startups]#[br] Transforming how businesses work and designing new technologies is a passion of mine. I'm getting ready to make my next big step...

      p Also find me on:
      .button-list
        a.button-list-item.btn.btn-info(href='https://twitter.com/czommerfelds', target='_blank')
          i.fa.fa-twitter
          div Twitter
        a.button-list-item.btn.btn-info(href='https://www.linkedin.com/in/zommerfelds/', target='_blank')
          i.fa.fa-linkedin
          div LinkedIn
        a.button-list-item.btn.btn-info(href='https://www.facebook.com/zommerfelds', target='_blank')
          i.fa.fa-facebook
          div Facebook
          
  // PROJECTS
  +section('projects', 'Projects')
    +content-block
      p This section will list a few projects that I have worked on.
    //.row.projects-holder
      .col-md-4.col-sm-6
        .project-item
          img(src='img/1.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
      .col-md-4.col-sm-6
        .project-item
          img(src='img/2.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus
      .col-md-4.col-sm-6
        .project-item
          img(src='img/3.jpg', alt='')
          .project-hover
            .inside
              h5
                a(href='#') Pellentesque porta ligula
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.
  // CONTACT
  +section('contact', 'Contact Me')
    +content-block
      p
        | Don't hesitate to send me a message via the form below.
    +content-block
      .row
        form#contact-form.contact-form
          fieldset.col-md-4.col-sm-6
            input(name='name', type='text', placeholder='Your name...', required)
          fieldset.col-md-4.col-sm-6
            input(name='email', type='email', placeholder='Your email...', required)
          fieldset.col-md-4.col-sm-12
            input(name='subject', type='text', placeholder='Subject...', required)
          fieldset.col-md-12.col-sm-12
            textarea(name='message', cols='30', rows='6', placeholder='Type your message here...', required)
          fieldset.col-sm-7
            if !disableRecaptcha
              .g-recaptcha(data-sitekey=recaptchaSiteKey)
            else
              strong DEV MODE: form submit unavailable
          #contact-recaptcha-alert.col-sm-5
          fieldset.col-sm-12
            input#submit-contact.button.big.default(type='submit', value='Send Message')
    +content-block
      #contact-response
