extends main

block head
  - var metaDescription = 'Welcome to my page'
  - var isMainPage = false //- this will influence how links work
  block page-vars
  script(src='https://www.google.com/recaptcha/api.js')

mixin navmenu
  ul.navigation
    li
      a(href=(isMainPage ? '#top' : '/'), class=(isMainPage ? 'smooth' : ''))
        i.fa.fa-globe
        | Welcome
    li
      a(href=(isMainPage ? '' : '/') + '#blog', class=(isMainPage ? 'smooth' : ''))
        i.fa.fa-file-text
        | Blog
    each post in posts
      li.subnav
        a(href='/' + post.path)
          i.fa.fa-angle-right
          | #{post.title}
    li.subnav.subnav-last
      a(href='/blog')
        i.fa.fa-angle-double-right
        | See all posts...
    li
      a(href=(isMainPage ? '' : '/') + '#about', class=(isMainPage ? 'smooth' : ''))
        i.fa.fa-user
        | About Me
    li
      a(href=(isMainPage ? '' : '/') + '#projects', class=(isMainPage ? 'smooth' : ''))
        i.fa.fa-bar-chart
        | Projects
    li
      a(href=(isMainPage ? '' : '/') + '#contact', class=(isMainPage ? 'smooth' : ''))
        i.fa.fa-comments
        | Contact Me
        
mixin profile
  .top-section
    .profile-image
      a(href='/')
        img(src='/img/profile.jpg', alt='Profile image')
    .profile-content
      a(href='/')
        h3.profile-title Christian Zommerfelds
      p.profile-description Computer Scientist
      
mixin content-block
  .row
    .col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
      block
    
mixin section(id, title)
  .page-section(id=id)
    +content-block
      h1.widget-title #{title}
    block
    +content-block
      hr

block content
  // Mobile header
  .responsive-header.visible-xs.visible-sm
    .container
      .row
        .col-md-12
          +profile
      .toggle-menu-container
        a.toggle-menu(href='#')
          i.fa.fa-bars
          span Navigation
        .main-navigation.responsive-menu
          +navmenu
  
  // Desktop sidebar
  .sidebar-menu.hidden-xs.hidden-sm
    +profile
    .main-navigation
      +navmenu
    .social-icons
      ul
        li
          a(href='https://www.facebook.com/zommerfelds', target='_blank')
            i.fa.fa-facebook
        li
          a(href='https://twitter.com/czommerfelds', target='_blank')
            i.fa.fa-twitter
        li
          a(href='https://www.linkedin.com/in/zommerfelds', target='_blank')
            i.fa.fa-linkedin
        li
          a(href='https://github.com/zommerfelds', target='_blank')
            i.fa.fa-github
        //-li
        //-  a(href='#', target='_blank')
        //-    i.fa.fa-rss
  
  // Main content
  .main-content(id='top')
    .container-fluid
      block page-content
      #footer.row
        .col-md-12.text-center
          p.copyright-text Copyright © 2018-2024 Christian Zommerfelds
