extends page

block page-content
  +section('top', title)
    +content-block
      .blog-header
        if draft
          .alert.alert-danger.fade.in
            p This post is a draft and is not meant for wider distribution yet.
        .blog-date #{date}
        .blog-tags
          .blog-tags-label Tags:
          each tag in tags.split(',')
            code #{tag}
    +content-block
      | !{contents}