extends _page

block page-content
  - function formatDate(date) {
  -   var d = date.getDate();
  -   var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  -   var m = monthNames[date.getMonth()];
  -   var y = date.getFullYear();
  -   return d + ' ' + m + ' ' + y;
  - }

  +section('top', title)
    +content-block
      .blog-date #{formatDate(date)}
    +content-block
      | !{contents}