.about-image {
	overflow: hidden;
	@include media(min-width $phone) {
		margin: 40px -10% 0px -7%;
	}
	img {
		width: 100%;
		display: block;
	}
}
.about-image-caption {
	text-align: right;
	font-style: italic;
	margin-bottom: 40px;
	font-size: 90%;
}
