.content-image {
	overflow: hidden;
	@include media(min-width $phone) {
		margin: 40px -10% 0px -7%;
	}
	img {
		width: 100%;
		display: block;
	}
}
.content-media-caption {
	text-align: right;
	font-style: italic;
	margin-bottom: 40px;
	font-size: 90%;
}

.content-video {
	overflow: hidden;
	@include media(min-width $phone) {
		margin: 40px -10% 0px -7%;
	}
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}