body {
	font-size: 18px;
	line-height: 34px;
	color: $body-color;
	font-family: 'robotoregular';
	overflow-x: hidden;
}

a {
	color: $accent;
	@include transition(all, 150ms, ease-in-out);
	text-decoration: none !important;
	&:hover {
		color: $heading-color;
	}
}

h1, h2, h3, h4, h5 {
	color: $heading-color;
}

::-webkit-input-placeholder {
   color: $light-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $light-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $light-color;
}

:-ms-input-placeholder {
   color: $light-color;
}

.main-content {
  width: 100%;
  position: absolute;
  margin-right: -$sidebar-size;
  margin-top: 10px;

  @include media(min-width $tablet) {
    padding-left: $sidebar-size;
    margin-top: 80px;
  }
}

.content-wrapper {
	padding: 0 80px;
	@include media(max-width $tablet) {
		padding: 0 30px;
	}
}

hr {
	position: relative;
	outline: 0;
	border: 0;
	width: 100%;
	height: 4px;
	background: $border-color;
	margin-top: 50px;
	margin-bottom: 30px;
}

.page-section {
	padding-top: 40px;

	p {
		margin-bottom: 25px;
	}
	.alert {
		p {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: disc;
		margin-left: 25px;
		margin-bottom: 15px;
	}

	h1, h2 {
		line-height: 1.5;
		margin-bottom: 25px;
		font-weight: bold;
	}

	h1.widget-title {
		font-size: 22px;
		font-family: 'robotobold';
		//text-transform: uppercase;
		margin-bottom: 50px;
	}
}

.button-list-item {
	margin-right: 10px;
	margin-bottom: 10px;
}

.blog-header {
	margin-bottom: 35px;

	.blog-tags {
		font-size: 14px;
		line-height: 1;
		text-indent: -30px;
		margin-left: 30px;

		.blog-tags-label {
			text-indent: 0;
			width: 30px;
			display: inline-block;
		}
		code {
			text-indent: 0;
			margin-left: 12px;
			margin-bottom: 7px;
			padding: 5px;
			display: inline-block;
		}
	}

	.blog-date {
		font-size: 14px;
	}
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 0 0;
	padding: 0.5em 10px;

	@include media(min-width $phone) {
		margin: 1.5em -10% 0 -7%;
	}
}

blockquote:before {
	font-family: serif;
	color: #ccc;
	content: '”';
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}